<head>
 <script src="https://kit.fontawesome.com/e78e8d5093.js" crossorigin="anonymous"></script>
</head>


<h4>User info</h4>
 <table class = "table">
   <tbody>
    <tr>
       <th></th>
       <th><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></th>
    </tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
       </tr>
       <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
       </tr>
   </tbody>
 </table>
    <table>
    
        <%= link_to edit_user_path(user) do%>
         <div class=" btn btn-outline-secondary btn-block fas fa-user-cog"></div>
        <%end%>
    
    </table>
     <!--%消してある　rspecではcontrollerで設定する
       < % if user == current_user %>
        <=link_to edit_user_path(user) do %>
         <div class=" btn btn-outline-secondary btn-block fas fa-user-cog"></div>
        <end%>
     <else %>
        %= link_to  user_path(current_user.id) do%>
          <div class=" btn btn-outline-secondary btn-block fas fa-user-cog"></div>
      <end%>
     < end %>  -->



